body{
    background: url("/staticfiles/images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    }

#profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

ul{
    padding: 0;
    list-style-type: none;
}

.social-links ul, li{
    list-style-type: none;
    display: inline-block;
}

.social{
    width: 20px;
    height: 20px;
}

.transparent {
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value (0.5) for desired opacity */
  }
  
div h5, div p, div h4 {
    color: white; /* Or any other contrasting color */
  }

.principal {
    background-color: rgba(0, 89, 47, 0.5);
}

a{
    color: black;
}